/* Нормалізація */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
    max-width: 100vw;
    overflow-x: hidden;
}

h1 {
    font-family: 'Brygada 1918'
}

h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', sans-serif;
}

h1 { letter-spacing: 0.05em;
    max-width: 500px;
    font-size: 5rem;
    line-height: 0.9em;
    padding: 0 0 0.3em 0;
    color: #fff;}
h2 { font-size: 2rem; 
    color: #fff;
    font-family: 'Roboto Mono', sans-serif;}
h3 { font-weight: bold;
    font-size: 2rem;
    color: #fff;
    line-height:1.5em; }

header, section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
}

nav, header, section {
}

.container-fluid,
.container {
    margin: 0 auto; /* Центрування по-горизонталі */
    width: 100%;
    height: 100%;
    padding: 25px; /* Мінімальні внутрішні відступи для smartphone */
}

.container {
    max-width: 1280px; /* Обмеження ширини контенту всередині секцій */
}

.box {
    max-width: 40vw;
}

section:nth-of-type(even) {
    background-color: #0624FF;
}

section:nth-of-type(odd) {
    background-color: #0624FF;
}