.overlay {
  cursor: pointer;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100vw;
  max-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index:9999;
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: auto;
  margin-top: 10vh;
  padding: 30px;
  background: #fff;
  border-radius: 20px;
  width: 50%;
  position: relative;
  transition: all 2s ease-in-out;
}

.popup .close {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 12px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .content {
  /*max-height: 60%;*/
  /*overflow: auto;*/
}

.popup h2 {
  color: #000;
}

@media screen and (max-width: 680px) {
  .popup {
    width: 85%;
  }
}