#s1 {
	position:relative;
}

.picture3 {
	position: absolute;
    bottom:0;
    left:0;
    margin-bottom: -190px;
    width: 25%;
    max-width: 400px;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
    z-index:3;
}

#s1 .container {
	position: relative;
	z-index: 1;
}

@media screen and (max-width: 600px) {
    .picture3 {
       margin-bottom: -60px; 
    }
}