.item {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.item .triangle {
    width: 240px;
    padding-right: 40px;
    margin-bottom: 30px;
}

.item .triangle > * {
    display: block;    
    max-width: 200px;
}

.item .text {
    width:50%;
    max-width: 500px;
}

.picture img {
    display: block;
	width: 100%;
}

.text {
	color: #fff;
}

.button {
	background-color: rgba(255,255,255,0.3);
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    padding: 8px 20px;
    margin: 15px;
    transition: all 300ms ease;
    font-weight: normal;
    color: #BCE0F7;

}

.button:hover {
    font-weight: bold;
    color: #0624FF;
    background-color: #fff;
    transition: all 300ms ease;
}

@media screen and (max-width: 767px) {



    .item .text {
        width:100%;
        text-align: center;
    }  

    .item .triangle > * {
        margin: auto;    
}   

     .item .triangle {
        width: 100%;
        padding-right: 0;
        margin-bottom: 30px;
    }

    .picture {
        margin-bottom: 5px;
    }
}

