


#s3 {
	max-height: 100vh;
	overflow: hidden;
}

.quiz h3 {
	margin: auto;
	font-size: 1.5rem;
	margin-bottom: 1em;
	text-align: center;
	max-width: 800px;
	color: #BCE0F7;
}

.title {
	display: block;
	margin: auto;
	margin-bottom: 6em;
	text-align: center;
}

.title h2 {
	font-size: 5rem;
	font-family: 'Brygada 1918';
}


.quiz .answer {
	list-style:none;
	text-align: center;
}

.answer a {
	display: inline-block;
	width: 50%;
}

.answer a.button {
	max-width: 150px;
	margin: 3 15px;
}

.answer a.button.back {
	margin-top: 3em;
	background-image: url("");
	background-color: #0624FF;

}

.answer a.button.back:hover {
	color: #fff;
}

.set {
	width:0;
	height:0;
	line-height: 0;
	visibility: hidden;
  	opacity: 0;
}

.set.active {
	width: auto;
	height: auto;
	line-height: 1.4;
	visibility: visible;
  	opacity: 1;
}

.arrow {
	transition: transform .2s;
}

.arrow:hover {
	transform: scale(1.1);
}

h3 span {
	color: #fff;
}

@media screen and (max-width: 767px) {

.title h2 {
	font-size: 3rem;
	font-family: 'Brygada 1918';
}

.quiz h3 {
	font-size: 1.2rem;
	margin-bottom: 1em;
}

}
